* {
  /* height: 100%; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #dfe0d4;
}

.column {
  float: left;
  width: 50%;
  padding: 2px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
#background1 {
  background-image: url("images/DFE0D4.png");
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
  color: #353940;
  font-size: large;
  margin-left: 20px;
  text-align: justify;
  padding-top: 20vh;
  padding-left: 250px;
}
#background2 {
  display: flex;
  justify-content: center;
  height: 50vh;
}
#background2 .img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}
.products {
  padding-left: 200px;
}

.navbar-brand {
  font-weight: 500;
  color: #3e92a3;
  font-family: "Bruno Ace SC", cursive;
}

.nav-link {
  font-family: sans-serif !important;
  color: #353940 !important;
  font-size: medium;
}
.dropdown-item {
  font-family: sans-serif !important;
  color: #353940 !important;
  font-size: smaller;
}
#popularitems {
  padding-left: 35vh;
  font-family: sans-serif;
}
/* Wrapper for entire slider */
.slider-wrapper {
  position: relative;
  max-width: 80rem;
  margin: 0 auto;
}

/* Slider container */
.slider {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
  border-radius: 0.5rem;
  overflow: hidden;
}

/* Individual slide */
.slider__item {
  position: relative;
  min-width: 100%;
}

/* Image within slide */
.slider__item img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* Arrows to navigate */
.slider__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color ease 250ms;
  z-index: 1;
  cursor: pointer;
}

.slider__arrow:hover {
  background-color: rgba(255, 255, 255, 1);
}

/* Arrow positioning */
.slider__arrow--left {
  left: 1rem;
}

.slider__arrow--right {
  right: 1rem;
}

/* Pagination dots */
.slider__dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.slider__dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.75);
  margin-right: 0.5rem;
  transition: background-color ease 250ms;
  cursor: pointer;
}

.slider__dot--active {
  background-color: rgba(255, 255, 255, 1);
}
.logo {
  width: 20%;
  height: 20%;
}
