* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #dfe0d4;
}
.main-image {
  display: block;
  width: auto;
  height: 300px;
}

.navbar-brand {
  font-weight: 500;
  color: #3e92a3;
  font-family: "Bruno Ace SC", cursive;
}

.logo {
  width: 20%;
  height: 20%;
}
