* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #dfe0d4;
  font-size: 18px;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}
.navbar-brand {
  font-weight: 500;
  color: #3e92a3;
  font-family: "Bruno Ace SC", cursive;
}

.logo {
  width: 20%;
  height: 20%;
}

.card {
  margin-top: 20vh;
  margin-left: 5%;
  margin-right: 5%;
}

svg {
  margin-right: 20px;
}

svg:hover {
  background-color: transparent;
  cursor: pointer;
}

.typeA {
  background-color: #ff5335;
  color: white;
}
.typeA:hover {
  background-color: #353940;
  color: white;
}
.typeD {
  margin-left: 63%;
}

/* navbar */
.nav-link {
  font-family: "Poppins", sans-serif !important;
  color: #353940 !important;
  font-size: 18px !important;
}
.dropdown-item {
  font-family: "Poppins", sans-serif !important;
  color: #353940 !important;
  font-size: 15px;
}
#searchbar {
  font-family: "Poppins", sans-serif !important;
}

/* scroll bar style */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #d3d3d3;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0;
}
/* footer */
.container {
  max-width: 1170px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  background-color: #353940;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #dfe0d4;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #ff5335;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #dfe0d4;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #dfe0d4;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #353940;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #dfe0d4;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media (max-width: 900px) {
  .text-area {
    display: block;
  }
  img {
    width: 50% !important;
    margin: 5px;
  }
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .text-area {
    display: block;
  }
  img {
    width: 30% !important;
    height: 20%;
    margin: 5px;
  }
  .card {
    position: relative;
    width: 400px;
    display: inline-block;
  }
  .footer-col {
    width: 100%;
  }
}
/* scroll bar style */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #d3d3d3;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a0a0a0;
}
/* DARK MODE */
#icon{
  margin-left: 7.5px ;
  width: 20px;
  cursor: pointer;
}
